<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Moway.Project.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Moway.Project.GraphicProject.GraphSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Moway.Project.Settings>
            <setting name="Prueba" serializeAs="String">
                <value>Prueba2</value>
            </setting>
        </Moway.Project.Settings>
        <Moway.Project.GraphicProject.GraphSettings>
            <setting name="InsertWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DragDropWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteWarning" serializeAs="String">
                <value>True</value>
            </setting>
        </Moway.Project.GraphicProject.GraphSettings>
    </userSettings>
</configuration>